* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}
img {
  max-width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#sony {
  max-width: 100px;
}

/* jumbotron */
#jumbotron {
  margin-top: 100px;
  background-image: url("../img/jumbo-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
}

/* games */
.returnal {
  height: 100px;
  max-width: 200px;
  background-image: url("../img/returnal-listing-thumb-01-ps5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  margin: 10px auto;
}

.randc {
  height: 100px;
  max-width: 200px;
  background-image: url("../img/ratchet-and-clank-rift-apart-keyart.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  margin: 10px auto;
}

/* console */
#console .row.list img {
  max-width: 150px;
}

/* jumbotakes2 */
#jumbotakes2 {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
}

/* new-games */
#new-games {
  background-color: #1f1f1f;
  color: white;
}

#new-games .row img {
  max-width: 150px;
  margin: auto;
  border-radius: 20px;
}

/* explore */
#explore {
  background-color: white;
}

/* playstation-plus */
#play-plus {
  background-color: #bebcbb;
}

/* playstation-now */
#play-now {
  background-color: #161c3b;
}

/* social */
@media screen and (min-width: 576px) {
  #social .row {
    max-width: 576px;
    margin: 0 auto;
  }
}

/* footer */
footer {
  background-color: #00439c;
  min-height: 200px;
}

[src*="play_logo"] {
  filter: brightness(0) invert(1);
  width: 100px;
  height: 100px;
}

#copyright {
  position: absolute;
  bottom: 10px;
  left: 80px;
}

#btnGroupDrop1:active #country-list {
  display: block;
}
