* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}
img {
  max-width: 100%;
}
.transition0-5s {
  transition: 0.5s;
}
.curs-pointer {
  cursor: pointer;
}
.btn-boxshadow:hover {
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.nav-item.scegli:hover ul {
  display: block;
}

header .navbar-collapse .search .nav-link {
  color: rgba(0, 0, 0, 0.55);
}

[src*="lens"] {
  width: 30px;
}

@media (min-width: 992px) {
  /* .navbar-expand-lg .navbar-collapse {
    display: none !important;
    flex-basis: auto;
  } */
  .navbar-expand-lg .navbar-toggler {
    display: block;
  }
  .navbar-expand-lg {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  /* .navbar-expand-lg #navbarSupportedContent {
    display: none;
  } */
}
@media (min-width: 1200px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  header .accordion-collapse {
    top: 151px;
  }
}

.sony-banner {
  min-height: 30px;
}

#sony {
  height: 40px;
  width: 100px;
  align-self: flex-end;
  position: absolute;
  right: 0;
}

.accordion-flush .accordion-item {
  display: inline-block;
}
.accordion-button {
  background-color: white;
}

.accordion-collapse {
  position: absolute;
  top: 500px;
  width: 100vw;
  background-color: white;
}

.play-icon:hover [src*="play-menu-ico"] {
  box-shadow: 0 0 10px 0.2rem black;
}

.model {
  opacity: 0.5;
}
.play-icon:hover .model {
  display: block;
  opacity: 1;
}

/* jumbotron */
#jumbotron {
  margin-top: 156px;
  background-image: url("../img/jumbo-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.buy-now-btn {
  background-color: #cd3d0f;
  color: white;
}

/* overline-containers */

.button-acquista {
  max-width: 86.42px;
  height: auto;
}

.button-maginfo {
  max-width: 183.02px;
  height: auto;
}
.button-sdp {
  max-width: 114.52px;
  height: auto;
}
.button-explorepn {
  max-width: 195.72px;
  height: auto;
}

.overline-button-dark {
  border: 2px solid black;
  position: absolute;
  height: 90%;
  width: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}
.overline-button-white {
  border: 2px solid white;
  position: absolute;
  height: 90%;
  width: 97%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.overline-container:hover .overline-button-dark,
.overline-container:hover .overline-button-white {
  opacity: 1;
  display: inline-block;
}

/* .btn:hover {
  display: block;
  box-shadow: -5px 0 0 3px #cd3d0f;
  border: 2px solid black;
} */

[src*="returnal-hero-banner-logo"],
[src*="it-takes-two-logo"] {
  width: 80%;
}

/* games */

#games .col-6.col-sm-4:hover > .returnal,
#games .col-6.col-sm-4:hover > .randc {
  margin-top: 0;
}

.returnal {
  height: 100px;
  max-width: 200px;
  background-image: url("../img/returnal-listing-thumb-01-ps5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  margin: 20px auto;
  transition: 0.5s;
}

.randc {
  height: 100px;
  max-width: 200px;
  background-image: url("../img/ratchet-and-clank-rift-apart-keyart.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  margin: 20px auto;
  transition: 0.5s;
}

/* console */
#console .row.list img {
  max-width: 150px;
}

.border-blue-hover {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 40%;
  border-bottom: 2px solid #0072ce;
  display: none;
}

.col-4.col-md:hover .border-blue-hover {
  display: inline-block;
}

#console .col-4.col-md {
  opacity: 0.5;
}
#console .col-4.col-md:hover {
  opacity: 1;
}

/* jumbotakes2 */
#jumbotakes2 {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

/* new-games */
#new-games {
  background-color: #1f1f1f;
  color: white;
}

#new-games .row img {
  max-width: 150px;
  margin: auto;
  border-radius: 20px;
}

#new-games .col-6.col-sm-4:hover > img {
  transform: scale(1.2);
}

/* explore */
#explore {
  background-color: white;
}

/* playstation-plus */
#play-plus {
  background-color: #bebcbb;
}
.bg-lightgray {
  background-color: #d9dadc;
}

/* playstation-now */
#play-now {
  background-color: #161c3b;
}

.btn.btn-outline-dark.rounded-pill:hover {
  color: black;
  transform: scale(1.1);
}

/* social */
#social .col-6.col-sm-3.col-md-3:hover {
  transform: scale(1.3);
}

@media screen and (min-width: 576px) {
  #social .row {
    max-width: 576px;
    margin: 0 auto;
  }
}

/* footer */
footer {
  background-color: #00439c;
  min-height: 200px;
}

[src*="play_logo"],
[src*="ps-footer"] {
  min-width: 100px;
  height: 100px;
}

[src*="language-globe"] {
  width: 20px;
  height: auto;
  line-height: 20px;
}

#btnGroupDrop1:active #country-list {
  display: block;
}

#sie {
  width: 150px;
  height: auto;
}

#navbarDropdown {
  line-height: 20px;
}
